@import url("https://fonts.googleapis.com/css2?family=Italiana&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Italiana&display=swap");

body {
  line-height: 1;
  font-family: "Italiana", serif;
}

* {
  box-sizing: border-box;
}

.container{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}